html, body {
  border: 0px solid;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(222,222,222);
}
  
p {
  color: rgb(80,80,80);
  font-family: Helvetica;
  font-size: 12pt;
}

#content_header {
  width: 100%;
  height: 200px;
  background-color: rgb(30,15,45);
}

#content_body {
  display: table;
  position: absolute;
  top: 200px; 
  bottom: 0;
  width: 100%;
  background-color: rgb(222,222,222);

}

.content_frame {
  width: 768px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#main_title_div {
  font-size: 50pt;
  font-weight: bolder;
  color: rgb(200,200,200);  
  vertical-align: middle;
  line-height:150px;
  height: 175px;
  width: 100%;
  text-align: center;
}

#main_nav_div {
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: table;
}

#main_nav_div a{
  display: inline;
  font-weight: bolder;
  color: rgb(132,102,142);
  margin: 8px;
  width: 100px;
  text-transform: uppercase;
  text-decoration: none;
}

#main_nav_div a:hover{
  color: rgb(200,200,200);  
}


